*{

    box-sizing: border-box;
    padding:0;
    margin:0;
}

html{
    background-color: rgba(155, 219, 231, 0.775);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
}

header{
    color: orangered;
    background: blue;
    text-align: center;
    padding:2em;
    margin: 0 0 2em 0;
}

div.container{
    display: flex;
    flex-flow: column wrap;
}

div.container main{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}


div.searchSection{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: .2em;
    width: 30rem;
    margin: 0 0 2em 0;
    align-self: center;
}


div.searchSection button#btn{
    background: #FF3232;
    color: #fff;
    padding:.5em;
    border: none;
}

div.searchSection button#btn:hover{
    color: #FF3232;
    background: #fff;
    box-shadow: inset 0 0 .2em #FF3232 ; 
}

div.searchSection input{
    border: solid #999 .1em;
    border-radius: 1em;
    padding-left: 1em;
}



hr{
    height: .10em;
    background: #94999dd1;
    border: none;
}